* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff4d4d;
  padding: 10px 20px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}